<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="TaskerContext" connectionString="Server=.\SQLEXPRESS;Initial Catalog=TaskerDev;Integrated Security = true;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="WcfServer.V1.CommandService">
				<endpoint address="" binding="basicHttpBinding" contract="WcfServer.V1.ICommandService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/WcfServer/V1/" />
					</baseAddresses>
				</host>
			</service>
			<service name="WcfServer.V2.CommandService">
				<endpoint address="" binding="basicHttpBinding" contract="WcfServer.V2.ICommandService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/WcfServer/V2/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="False" />
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

</configuration>
